$g: 8px;
$block: 24px;

$family-main: 'Roboto', sans-serif;
$family-alt: 'Roboto Condensed', sans-serif;

$gray0: #1d1d12;

$tint-base: #5353b5;
$tint-sec0: #5353b5;

$shadow-color: transparentize($tint-base, .9);;

:root {
  --grid: 8px;
  --tint-shadow: #53535b;
}

html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: $tint-sec0;
  &:hover, &:focus {
    color: inherit ;
  }
}

ul {
  list-style: none;
  display: block;
}

body {
  font: {
    family: $family-main;
    weight: 400;
  }
  color: $gray0;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  section, footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $block;
    @media(min-width: 900px) {
      max-width: 900px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8em;
  font-family: $family-alt;

  & > div {
    margin-right: 2 * $g;
  }

  .cri-logo {
    img {
      width: 2 * $block;
      height: 2 * $block;
    }
  }
}

header {
  .brand {
    font-size: .9em;
    margin: $block 0;

    h1 {
      margin: .2em;
    }
  }
}

main {
  .blurb {
    padding: $g;
    h2 {
      font-size: 1em;
      font-weight: 300;
    }

    p {
      font-size: .8em;
    }
  }

  .screens {
    max-width: 100vw;
    text-align: left;
    font-size: .8em;
    color: $tint-sec0;

    @media(min-width: 980px) {
      max-width: 900px;
    }

    figure {
      display: block;
      margin: 0;
      max-width: 240px;

      img {
        width: 100%;
        margin-bottom: $g;
        box-shadow: 0 2px 8px $shadow-color;
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
    }

    li {
      padding: 2 * $g;
    }
  }

  .contacts {
    padding: $g;
    margin-top: 2 * $g;
    max-width: 600px;

    .savvy {
      display: flex;
      text-align: left;
      padding: 0;
      margin: auto;
      font-size: .8em;

      .profile-pic {
        margin-right: 2 * $g;

        img {
          height: 3 * $block;
          width: 3 * $block;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 2px 8px $shadow-color;
        }
      }

      .slack-link {
        background: transparentize($tint-sec0, .8);
        padding: $g 2*$g;
        border-radius: $g;
        font-style: italic;
        font-weight: 300;
      }
    }
  }
}
